.navbar {
    /* Remove default toolbar margin */
    margin: 0;
    /* Adjust toolbar padding for  spacing */
    .mat-toolbar {
      padding: 15px 30px;
  
      background-color: #e0e2ec;
      color: rgb(1, 1, 1); /* Text color within the toolbar */
      font-size: 28px;
    }
  
    .button-group {
      display: flex;
      
      .nav-buttons {
        margin: 0 10px; 
        color: inherit;
        font-size: 16px;
  
        mat-icon {
          margin-right: 9px; /* Add spacing between text and icon */
        }
  
        &.logout {
          color: #c00;
        }
      }
    }
  
    /* Button holding the FilmFlix text (optional) */
    button mat-button {
      padding: 0; 
    }
  
    h1 {
      margin: 0;
      font-size: 30px;
    }
  }