<h1>FilmFlix</h1>
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <img src={{movie.ImageURL}} alt={{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"   
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
            >
                Synopsis
            </button>
            <mat-icon>favorite-border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>

<!-- <mat-card>
    <mat-dialog-content>
        <mat-card-title> Spiderman </mat-card-title>
        <mat-card-subtitle><img src="https://upload.wikimedia.org/wikipedia/en/2/21/Web_of_Spider-Man_Vol_1_129-1.png" /></mat-card-subtitle>
    </mat-dialog-content>
</mat-card> -->