<app-navbar></app-navbar>
<div class="movie-grid"> <mat-card *ngFor="let movie of movies;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImageURL}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openMovieInfoDialog('Genre', movie)">
        Genre
      </button>
      <button mat-raised-button color="primary" (click)="openMovieInfoDialog('Director', movie)">
        Director
      </button>
      <button mat-raised-button color="primary" (click)="openMovieInfoDialog('Synopsis', movie)">
        Synopsis
      </button>
      <mat-icon (click)="toggleFavorite(movie._id)"
        [style.color]="isFavorite(movie._id) ? '#A40101' : 'white'">favorite-border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>