mat-card {
    mat-card-header {
        mat-card-title {
            font-size: 24px;
        }
    }

    mat-card-content {
        padding: 16px;
    }

    mat-form-field {
        width: 100%;
        margin-bottom: 1px;
    }

    mat-card-actions {
        display: flex;
        justify-content: flex-end;

        button.button-confirmation {
            background-color: #d6dbe2;
            margin-top: 16px;
            width: 100%;
            font-size: 18px;
        }
    }
}