.movie-info-container {
  display: flex;
  flex-direction: column;
  /* Stack content vertically */
  padding: 20px;
  background-color: rgb(233, 233, 233);
}

.movie-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.movie-info {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
}