<div class="movie-info-container">
    <h3 class="movie-title">{{movieInfo.Title}}</h3>
    <div *ngIf="movieInfo">
        <ng-container *ngIf="data.type === 'Genre'">
            <h2><strong>Genre: </strong>{{movieInfo.Genre}}</h2>
        </ng-container>
        <ng-container class="movie-info" *ngIf="data.type === 'Director'">
            <h2><strong>Director: </strong>{{movieInfo.Name}}</h2>
            <p><strong>Bio: </strong>{{movieInfo.Bio}}</p>
            <p><strong>Birth: </strong>{{movieInfo.Birth | date}}</p>
            <p><strong>Death: </strong>{{movieInfo.Death | date}}</p>
        </ng-container>
        <ng-container *ngIf="data.type === 'Synopsis'">
            <h4><strong>Synopsis:</strong></h4>
            <p>{{movieInfo.Description}}</p>
        </ng-container>
        <button 
            mat-raised-button 
            color="primary" 
            (click)="clickClose()">Close
        </button>
        <div class="error-message" *ngIf="!movieInfo">
            Error fetching information.
        </div>
    </div>
</div>