<app-navbar></app-navbar>
<div class="container">
  <!-- Edit User Information Form -->
  <mat-card class="edit-userinfo">
    <mat-card-header class="header">
      <mat-card-title>Update Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #userForm="ngForm">
        <!-- Username Field -->
        <label>Username:</label>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="user.Username" placeholder="Username" type="text" name="Username" required>
        </mat-form-field>

        <!-- Password Field -->
        <label>Password:</label>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="user.Password" placeholder="Password" type="password" name="Password" required>
        </mat-form-field>


        <!-- Email Field -->
        <label>Email:</label>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="user.Email" placeholder="Email" type="email" name="Email" required>
        </mat-form-field>


        <!-- Birthday Field -->
        <label>Birthday:</label>
        <mat-form-field class="inputs">
          <input matInput [(ngModel)]="user.Birthday" placeholder="Birthday" type="date" name="Birthday" required>
        </mat-form-field>
      </form>


      <!-- Form Actions -->
      <mat-card-actions class="actions">
        <button mat-raised-button class="button-update" (click)="backToMovie()" type="submit">
          Back
        </button>
        <button mat-raised-button class="button-update" (click)="editUserInfo()" type="submit">
          Update
        </button>
        <button mat-raised-button class="button-delete" (click)="deleteAccount()">
          Delete
        </button>

      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<!-- Favorite Movies -->
<div>
  <h2 style="margin: 60px;">Favorite Movies</h2>
  <div class="movie-grid">
    <mat-card *ngFor="let movie of favoriteMovies">
      <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImageURL}} alt={{movie.Title}} />
      <mat-card-actions>
        <button mat-raised-button (click)="openMovieInfoDialog('Genre', movie)">
          Genre
        </button>
        <button mat-raised-button (click)="openMovieInfoDialog('Director', movie)">
          Director
        </button>
        <button mat-raised-button color="primary" (click)="openMovieInfoDialog('Synopsis', movie)">
          Synopsis
        </button>
        <mat-icon (click)="removeFromFavorites(movie._id)" [style.color]="'#A40101'">
          favorite-border
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="!favoriteMovies || favoriteMovies.length === 0">
    <p>You don't have any favorite movies yet!</p>
  </div>
</div>